// Padding Utility




// Options

$iota-utils-padding                      : true;

$iota-utils-padding-default              : $iota-global-gutter-default !default;
$iota-utils-padding-extra                : () !default;

$iota-utils-padding-namespace            : 'p' !default;
$iota-utils-padding-top-name             : 't' !default;
$iota-utils-padding-right-name           : 'r' !default;
$iota-utils-padding-bottom-name          : 'b' !default;
$iota-utils-padding-left-name            : 'l' !default;
$iota-utils-padding-vertical-name        : 'v' !default;
$iota-utils-padding-horizontal-name      : 'h' !default;

$iota-utils-padding-res                  : false !default;
$iota-utils-padding-breakpoints          : $iota-global-breakpoints !default;




// Padding Utilities

@include _iota-utility-generate-spacing(
  'padding',
  $iota-utils-padding-default
);

@each $padding-name, $padding-size in $iota-utils-padding-extra {
  @include _iota-utility-generate-spacing(
    'padding',
    $padding-size,
    $padding-name
  );
}




// Padding Responsive Utilities

@if ($iota-utils-padding-res == true) {

  @include _iota-utility-generate-responsive-spacing(
    'padding',
    $iota-utils-padding-breakpoints,
    $iota-utils-padding-default
  );

  @each $padding-name, $padding-size in $iota-utils-padding-extra {
    @include _iota-utility-generate-responsive-spacing(
      'padding',
      $iota-utils-padding-breakpoints,
      $padding-size,
      $padding-name
  );
  }

}
